h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.1rem;
}

p {
    margin: 1rem 0;
}

#force-table {
    font-size: 8pt;
    min-width: 100%;
}

select.network {
    width: 100%;
}

select.ammo {
    width: 100%;
}

button.network {
    width: 100%;
}