.logo {
    max-width: 33%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.1rem;
}

p {
    margin: 1rem 0;
}

select.network {
    width: 100%;
}

select.ammo {
    width: 100%;
}

button.network {
    width: 100%;
}

.search-results-list {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.search-results-list li {
    padding: 0.3rem;
    display: flex;
}

.search-results-list li:nth-child(even) {
    background-color: var(--accent-bg);
}

.search-results-list span.search-result {
    flex: 1;
}

.search-results-list button {
    padding: 0.3rem;
    margin: 0rem;
}

.search-bar {
    display: flex;
}

.search-bar > input {
    flex: 1;
    border-radius: var(--standard-border-radius) 0 0 var(--standard-border-radius);
}

.search-bar > button {
    border-radius: 0 var(--standard-border-radius) var(--standard-border-radius) 0;
}

.advanced-search > details {
    border-radius: 0 0 var(--standard-border-radius) var(--standard-border-radius);
}

.advanced-search > .search-bar > input {
    border-radius: var(--standard-border-radius) 0 0 0;
    margin-bottom: 0;
}

.advanced-search > .search-bar > button {
    border-radius: 0 var(--standard-border-radius) 0 0;
    margin-bottom: 0;
}