.print-only {
    visibility: collapse;
}

@media print {
    html {
        font-size: 12px;
    }

    body {
        display: unset;
    }

    header,
    footer,
    .no-print {
        display: none;
    }

    .print-only {
        visibility: visible !important;
    }

    .new-page {
        break-before: page;
    }

    .flex-row {
        display: flex;
    }
    
    .flex-item {
        flex: 1;
    }

    .multi-column {
        column-count: 2;
    }
}